@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Nunito', sans-serif;
}

:root {
    --white: #fafafb;
    --purple: #9a67ea;
    --blue-light:#04d4c3;
    --blue-dark:#2a73c2;
    --green:#2c7b90;
}

body {
    background: linear-gradient(to bottom,var(--purple),var(--blue-light));
    height: 100vh;
}